body {
  font-family: "Roboto";
  background-color: #eef9bf;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header {
  width: 100%;
  height: 63px;
  color: #75b79e;
  margin-top: 40px;
  margin-left: 285px;
}
h1 {
  flex-direction: column;
  align-content: center;
  display: flex;
  font-family: "Roboto";
  font-weight: 700px;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;
}
.allCards {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  perspective: 1000px;
}

img {
  width: 100px;
  height: 100px;
}
.memoryCard {
  width: 117px;
  height: 146px;
  background: #a7e9af;
  border: 1px solid #99cea8;
  border-radius: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.memoryCard:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.memoryCard.flip {
  transform: rotateY(180deg);
}
.maintain {
  transform: rotateY(180deg);
}
.frontCard,
.backCard {
  position: absolute;
  padding: 24px 10px;
  backface-visibility: hidden;
}
.frontCard {
  transform: rotateY(180deg);
}
@media (max-width: 600px) {
  body {
    width: 50%;
  }
  .allCards {
    margin-top: 150px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
  }
  h1 {
    width: 50%;
    margin-bottom: 50px;
  }
}
